<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole | Music</title>
    <script src="https://kit.fontawesome.com/bd0eb781b4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body id="inicio" class="music">
    <header class="music__header">

        <nav class="header__nav">
            <!-- li*4>a
    -->
            <ul class="header__nav--menu">
                <li><a href="/">| Home</a></li>
                <li><a href="/about">| About</a></li>
                <li><a href="/music">| Music</a></li>
                <li><a href="/contact">| Contact |</a></li>
            </ul>
            <div class="header__nav--redes">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                <a href=""><i class="fa-brands fa-spotify"></i></a>
                <a href=""><i class="fa-brands fa-apple"></i></a>
                <a href=""><i class="fa-brands fa-amazon"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
        </nav>
    </header>
    <main class="music__main">
        <h1>music //</h1>
        <h5>Direct links</h5>
        <nav class="music__main__nav">
            <ul>
                <li><a href="#album">Album</a></li>
                <li><a href="#organic">Video: Organic Love</a></li>
                <li><a href="#street">Video: Street Light</a></li>
            </ul>
        </nav> <!-- caja paar los albumes -->
        <section class="music__main__section">
            <article id="album" class="music__main__section__article">
                <!-- caja de albumes -->
                <h2>album <br>twist my reality</h2>
                <img src="/images/emilia-play-list.png" alt="" width="640">
                <ol>
                    <li><i class="fa fa-play"></i>Organic Love</li>
                    <li><i class="fa fa-play"></i>Twist In My Reality</li>
                    <li><i class="fa fa-play"></i>Sreet Light</li>
                    <li><i class="fa fa-play"></i>Love Don’t Live Here Anymore (Cover) | 03:49</li>
                </ol>
                <a href="#">Go Top</a>
            </article>
        </section><!-- Caja para los videos -->
        <section class="music__main__section">
            <article id="organic" class="music__main__section__article">
                <!-- caja de video -->
                <h2>video <br> Organic Love</h2>
                <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <div class="music__main__section__article--informacion">
                    <p>Directed by VINCE MALC & EMILIA COLE</p>
                    <p>Edited and Filmed by NICOLAS TROY</p>
                    <p>Produced by NIKI HEART,</p>
                    <p>Wix Films LTD.</p>
                </div>
                <a href="#">Go Top</a>
            </article>
            <article id="street" class="music__main__section__article">
                <h2>video <br> Street Light</h2>
                <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <div class="music__main__section__article--informacion">
                    <p>Directed by VINCE MALC & EMILIA COLE</p>
                    <p>Edited and Filmed by NICOLAS TROY</p>
                    <p>Produced by NIKI HEART,</p>
                    <p>Wix Films LTD.</p>
                </div>
                <a href="#">Go Top</a>
            </article>
        </section>
    </main>
</body>

</html>