.music{
    background-image: url('/images/emilia-music-top.jpg');
    background-repeat: no-repeat;
    background-size: 100% 160px;
    }
    .music__main{
        margin-top: 80px;
        }
        .music__main h1{
            margin-bottom: 30px;
        }
        .music__main__nav ul{
            margin-top: 10px;
            margin-left: 20px;
            list-style: none;
        }
        .music__main__nav ul li a{
            color: gray;
            
        }
        .music__main__section{
            margin-top: 0px;
        }
        .music__main__section__article{
            margin-top: 90px;
        }
        .music__main__section__article ol{
            list-style-type: decimal-leading-zero;
            padding-left: 40px;
            margin-top: 20px;
        }
        .music__main__section__article li{
            /* margin-top: 10px; */
            margin-bottom: 20px;
        }
        .music__main__section__article h2{
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 15px;
        }
        .music__main__section__article a{
            color: gray;
        }
        .music__main__section__article--informacion{
            margin-top: 20px;
            margin-bottom: 20px;
        }