.index{
    background-image: url('../images/emilia-home.jpg');
    background-size: 75% 100%;
    background-repeat: no-repeat;
    background-position: right -100px;
}
.index__main--titulo{
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px;
}
.index__main--subtitulo{
    font-family: "Work Sans";
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    margin-left: 35px;
    margin-top: 112px;
    margin-bottom: 120px;
    letter-spacing: 5px;
}
.index__header__nav--menu{
    list-style: none;
}
.index__header__nav--redes{
    margin-top: 10px;
}
